body {
font-family: Cerebri-Sans,Helvetica,Arial,sans-serif;
color:#78e0e1;
}

.container {
padding: 10px;
background-image: url("../ZUG.jpeg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
opacity:95%;
}



h1 {
  color: #663399;
  font-size:24px;
  font-weight: 700; 
  line-height:35px;
  margin-bottom: 0;
  padding-top: 20px;

}

ul{
  margin:0;
  padding:0;
}

li{
  list-style:none;
  margin: 0; 
  padding: 0;
  font-size:16px;
  text-transform: capitalize;
  color: #663399;
  font-weight:500;
  line-height: 25px;
}


li:first-letter {
  text-transform: capitalize;
}


.search-button {
    background-color: #00adb5;
    border-color: #00adb5;
}

.btn-primary {
    color: #fff;
    background-color: #0fe2ed;
    border-color: #0fe2ed;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px  auto;
  
}

.weather-app {
  max-width: 600px;
  padding: 20px;
  width: 100%;
  border: 5px solid;
  border-color: #abf1f1;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(4, 60, 71, 0.3);
  background: #b9f4f4 ;
  opacity: 95%;
  background: radial-gradient(
    circle farthest-corner at bottom center,
#64d7d7 0%,
#b9f4f4 80%
  );
  background: -webkit-radial-gradient(
    circle farthest-corner at bottom center,
#64d7d7 0%,
#b9f4f4 80%
  );
  background: -moz-radial-gradient(
    circle farthest-corner at bottom center,
#64d7d7 0%,
#b9f4f4 80%
  );

  color: #663399;  
}

.overview {
  margin-bottom:20px;
}

.main-image {
  margin-right: 10px;
  height: 70px;
  width: 70px;
  margin-bottom: 20px;
}

.main-temp {
  font-weight: 500;
  line-height: 1;
  font-size: 75px;
}

.weather-temperature img{
  margin-right:5px;
  height: 64px;px;
  width: 64px;
}

.weather-temperature strong{
  color: #663399;
  font-size:64px;
  line-height: 1;
  font-weight: 700;
}

.weather-temperature .units {
  position: relative;
  font-size: 20px;
  font-weight: 700;
}

.weather-temperature  .active{
  color: #663399;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color:#663399;
}

.weather-forecast-date {
  font-size: 16px;
  text-align: center;
  color: #663399;
  opacity: 0.9;
  font-weight: 700;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
  text-align: center;
  font-size:13px; 
  font-weight: 700;
}

.weather-forecast-temperatures-max{
  font-size: 13px;
  text-align: center;
  font-weight: 700;
  
}
.forecast-feature {
  background-color: #085458;
  border-radius: 2px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
}

.footer {
 text-align: center; 
 color: #21083b;
 margin-bottom: 20px;
 font-size: 14px;
 text-align: center; 

} 

#footer-link {
color: #21083b;
margin-bottom: 20px;
 font-size: 14px;
 text-align: center; 
 font-weight: 900;

}